@model Joke.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home";
    string BackgroundColor(string cor)
    {
        return cor.Replace("1)", "0.75)");
    };
}

<div class="pt-5 container">
    <div class="row">
        <div class="col mx-auto text-center">
            <h1 class="display-4 text-white">Planetas do Sistema Solar</h1>
            <div class="my-3">
                <button id="btn-all" class="btn btn-md my-2 text-white bg-secondary btn-filter" onclick="filter('')">
                    Ver Todos
                </button>

                @foreach (var tipo in Model.Tipos)
                {
                    <button id="btn-@tipo.Nome" class="btn btn-sm my-2 text-white btn-filter"
                        style="background-color:@tipo.Cor" onclick="filter('@tipo.Nome')">@tipo.Nome</button>
                }
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        @foreach (var planeta in Model.Planetas)
        {
            <!-- Card Planeta - Inicio -->
            <div class="planet-card">
                <a asp-action="Details" asp-route-id="@planeta.Id" class="text-decoration-none">
                    <img src="@planeta.Foto" class="card-img-top" alt="@planeta.Nome" />
                    <div class="card-body">
                        <h3 class="card-title text-white">@planeta.Nome</h3>
                        <!-- Mini card exibindo o tipo de planeta com cor e transparência -->
                        <div class="planet-type-card" style="background-color: @BackgroundColor(planeta.AdicionarTipo.Cor);">
                            @planeta.AdicionarTipo.Nome
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card Planeta - Fim -->
        }
    </div>

    <div id="zeroPlaneta" class="col-lg-12 text-center d-none mt-5" style="height: 350px;">
        <h1 class="my-3 text-danger">Nenhum Planeta Encontrado</h1>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
